flask
flask-smorest
python-dotenv
sqlalchemy
flask-sqlalchemy
flask-jwt-extended
passlib #used to hash our password
flask-migrate
gunicorn
psycopg2  #needed when running flask db upgrade from DockerFile